* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
}

header {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    background-color: #f1f4f6;
    border-radius: 100px;
    animation: colorChange 1s infinite alternate;
}

@keyframes colorChange {
    0% { color: #ff7f00; }
    100% { color: #00a86b; }
}

.contact-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contact {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #0e9df5;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.contact:hover {
    transform: scale(1.2);
}

@media (max-width: 900px) {
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
}
}